<audio #soundClick controls hidden>
  <source src="assets/sounds/click.mp3" />
</audio>
<audio #soundEat controls hidden>
  <source src="assets/sounds/eat.mp3" />
</audio>
<audio #soundOver controls hidden>
  <source src="assets/sounds/game-over.mp3" />
</audio>

<div class="wrapperGame">
  <div class="start" #start>
    <div class="box-start">
      <b>{{ minutes }}:00</b>
      <button (click)="startGame()">Bắt đầu trò chơi</button>
    </div>
  </div>

  <div class="fillGame"></div>

  <a class="back" routerLink="">
    <i class="fa-solid fa-arrow-left"></i>
  </a>

  <div class="math">
    <div class="time">{{ minutes }}:{{ seconds == 0 ? "00" : seconds }}</div>
    <div class="point">{{ point }}</div>
  </div>

  <div class="listCard">
    <div
      #cardElement
      *ngFor="let p of listPokemon"
      data-id="{{ p.id }}"
      class="card"
    >
      <img [src]="p.image" [alt]="p.name" />
      <img class="back-card" src="assets/img/logo.png" alt="" />
    </div>
  </div>
</div>
