<div class="banner">
  <div class="filter-banner"></div>
  <a class="banner-card">
    <div class="form-login">
      <h1>Đăng nhập</h1>
      <div class="gr-inp">
        <label for="">Username</label>
        <input type="text" name="username" id="" />
      </div>
      <div class="gr-inp">
        <label for="">Password</label>
        <input type="password" name="username" id="" />
      </div>
      <div class="gr-inp">
        <input type="button" name="" id="" value="Đăng nhập" />
      </div>
    </div>
    <div class="card">
      <div class="wrapper">
        <img
          decoding="async"
          class="cover-image"
          src="assets/img/banner/card.png"
          alt="card"
        />
      </div>
      <img
        decoding="async"
        class="character"
        src="assets/img/pokemons/card.png"
        alt="lucario"
      />
    </div>
  </a>
</div>
